<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <title>Welcome</title>

  <link rel="stylesheet" type="text/css" href="public/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/assets/css/style.css">
</head>

<body>
  <div>
    <div ui-view="nav"></div>
    <div ui-view="content"></div>
  </div>

  <script src="public/assets/js/angular.min.js"></script>
  <script src="public/assets/js/angular-resource.min.js"></script>
  <script src="public/assets/js/angular-ui-router.min.js"></script>
  <script src="public/assets/js/angular-deferred-bootstrap.min.js"></script>

  <script src="public/dist/core/core.min.js"></script>
  <script src="public/dist/modules.min.js"></script>
  <script src="public/dist/config/config.min.js"></script>
  <script src="public/dist/client.min.js"></script>
  <script src="public/dist/shared/shared.min.js"></script>
</body>

</html>
